include *.txt *.py *.j2

recursive-include fourpisky *.py *.j2
recursive-include integration_tests *.py
recursive-include integration_tests *.sh
include fourpisky/tests/resources/*.xml

include versioneer.py

include pytest.ini
recursive-include comet_plugin *.py


