At {{ report_timestamp|datetime(dt_style) }} an alert of type:
'{{ alert.type_description }}'
was received. Synopis:
ID: {{ alert.id }}
{% if alert.inferred_name %}
Inferred name: {{ alert.inferred_name }}
{% endif %}
Co-ords:
    HMS-DMS: {{ alert.position.ra|string}}  {{alert.position.dec|string }}
    Degrees: {{ alert.position.ra|rad_to_deg }}, {{ alert.position.dec|rad_to_deg}}
Event timestamp: {{ alert.isotime|datetime(dt_style) }}

==============
Actions taken:
==============
{% for action in actions_taken %}
{{ action }}
{% else %}
No follow-ups requested.
{% endfor %}

==============
Alert details:
==============
{% if alert.text_params is defined %}
Alert parameters
-----------------
    {% for key, value in alert.text_params.items() %}
{{ key }}: {{ value }}
    {% endfor %}
{% endif %}

{% if alert.url_params is defined %}
Relevant URLs
-----------------
    {% for key, value in alert.url_params.items() %}
{{ key }}: {{ value }}
    {% endfor %}

{% endif %}
VOEventDB link:
http://voeventdb.4pisky.org/apiv1/packet/xml/{{ alert.ivorn|urlquote }}

{% if site_reports %}
=============
Site reports:
=============
{% endif %}
{% for site, vis in site_reports %}
    {% include 'includes/visibility_report.j2' %}
-------------------------------------------------
{% endfor %}
All times refer to UTC.

{% include 'includes/signoff.j2' %}